
{% extends "layout.html" %}


{% block heading %}
{{ headline }}
{% endblock %}

{% block body %}
    <form action="{{ url_for('search') }}" method="post">
        <input type="text" name="query" placeholder="Search...">
        <button>Search</button>
    </form>


{% endblock %}
