{% extends "layout.html" %}

{% block heading %}
Results for "{{ query }}"
{% endblock %}

{% block body %}
<table class="table table-bordered table-striped">
    <tbody>
        {% for doc in results %}
        <tr>
            <td>
                <h5>{{ doc["q_title"] }}</h5><!--data-toggle="collapse" data-target="#{{ doc['q_id'] }}"> -->
            </td>
        </tr>
        <tr> <!--class="collapse out" id="{{ doc['q_id'] }}">-->
            <td>
                <div>{{ doc["q_body"] }}</div>
            </td>
            <td>
                <div>{{ doc["a_body"] }}</div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}